nav {
    background-color: #171a21;
    color: #c5c3c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    font-family: 'Orbitron', sans-serif;
}

.right {
    padding: 0.5rem;
    font-size: 20px;
}

.right:hover {
    cursor: pointer;
    color: #9fb9f5;
}

#icon {
    margin-right: 10px;
}